<div class="page-header">

  <%= link_to "Add a New Movie", "/movies/new",
              :class => "pull-right btn btn-success btn-large" %>

<!--   <a href="/movies/new" class="pull-right btn btn-success btn-large">
    Add a New Movie
  </a> -->
  <h1>Movies</h1>
</div>

<div class="row">
  <div class="col-md-3">
    <%= image_tag "http://ia.media-imdb.com/images/M/MV5BMTM2Njg2NjU5NF5BMl5BanBnXkFtZTYwODI5MDc4._V1_SY226_SX144_.jpg", :class => "col-md-10" %>
<!--      <img class="col-md-10" src="http://ia.media-imdb.com/images/M/MV5BMTM2Njg2NjU5NF5BMl5BanBnXkFtZTYwODI5MDc4._V1_SY226_SX144_.jpg">
 -->  </div>
  <div class="col-md-9">
    <h2>
      <%= link_to "Apollo 13", "/movies/1" %>
      <!-- <a href="/movies/1">Apollo 13</a> -->
    </h2>
    <p class="lead">Three astronauts must devise a strategy to return to Earth safely after their spacecraft undergoes massive internal damage.</p>
    <p>Directed by Ron Howard</p>
    <p>Starring Tom Hanks, Kevin Bacon</p>
    <p>Rating: 10/10 &#9733;&#9733;&#9733;&#9733;&#9733;&#9733;&#9733;&#9733;&#9733;&#9733;
    based on <a href="#">18 Reviews</a></p>

  </div>
</div>

<div class="row">
  <div class="col-md-3">
    <img class="col-md-10" src="http://ia.media-imdb.com/images/M/MV5BMTQzNzczMDUyNV5BMl5BanBnXkFtZTcwNjM2ODEzOA@@._V1_SY317_CR0,0,214,317_.jpg">
  </div>
  <div class="col-md-9">
    <h2><a href="/movies/1">Lincoln</a></h2>
    <p class="lead">As the Civil War continues to rage, America's president struggles with continuing carnage on the battlefield and as he fights with many inside his own cabinet on the decision to emancipate the slaves.</p>
    <p>Directed by Steven Spielberg</p>
    <p>Starring Daniel Day-Lewis, Sally Field</p>
    <p>Rating: 8/10 &starf;&starf;&starf;&starf;&starf;&starf;&starf;&starf;&star;&star;
    based on <a href="#">42 Reviews</a></p>

  </div>
</div>


<div class="row">
  <div class="col-md-3">
    <img src="http://ia.media-imdb.com/images/M/MV5BMTU4NTczODkwM15BMl5BanBnXkFtZTcwMzEyMTIyMw@@._V1_SX214_.jpg">
  </div>
  <div class="col-md-9">
    <h2><a href="/movies/1">Star Wars</a></h2>
    <p class="lead">Luke Skywalker joins forces with a Jedi Knight, a cocky pilot, a wookiee and two droids to save the universe from the Empire's world-destroying battle-station, while also attempting to rescue Princess Leia from the evil Darth Vader.

</p>
    <p>Directed by George Lucas</p>
    <p>Starring Mark Hamill, Harrison Ford</p>
    <p>Rating: 9/10 &starf;&starf;&starf;&starf;&starf;&starf;&starf;&starf;&starf;&star;
    based on <a href="#">7 Reviews</a></p>

  </div>
</div>

<div class="row">
  <div class="col-md-3">
    <img src="http://ia.media-imdb.com/images/M/MV5BMjA0ODEzMTc1Nl5BMl5BanBnXkFtZTcwODM2MjAxNA@@._V1_SX214_.jpg">
  </div>
  <div class="col-md-9">
    <h2><a href="/movies/1">Raiders of the Lost Ark</a></h2>
    <p class="lead">Archeologist and adventurer Indiana Jones is hired by the US government to find the Ark of the Covenant before the Nazis.</p>
    <p>Directed by Steven Spielberg</p>
    <p>Starring Harrison Ford, Karen Allen</p>
    <p>Rating: 8/10 &starf;&starf;&starf;&starf;&starf;&starf;&starf;&starf;&star;&star;
    based on <a href="#">6 Reviews</a></p>

  </div>
</div>

